name: Build and Push to ACR

on:
  workflow_dispatch:  # this is the workflow for manual trigger

permissions:
  id-token: write
  contents: read
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: todo-delete-tasks-api
      IMAGE_TAG: v4
      ACR_NAME: lucktodoappacr2025
      ACR_LOGIN_SERVER: lucktodoappacr2025.azurecr.io

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: ae2efbf9-a607-4fa8-987a-9811135891d8
          tenant-id: 387597f4-2c73-443d-93f5-fe6be49ec6c7
          subscription-id: c4392c89-177c-49fd-abc6-1b1d293e65b7

      - name: Log in to ACR
        run: |
          az acr login --name $ACR_NAME
      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG .
      - name: Tag Docker Image for ACR
        run: |
          docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
      - name: Push Docker Image to ACR
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
